.u-section-1 .u-sheet-1 {
  min-height: 480px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: none;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/profile_4_airbrush_circel.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  margin: 14px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 23px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 346px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 394px;
}

.u-section-2 .u-group-1 {
  min-height: 368px;
  margin-top: 0;
  margin-bottom: 26px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 7px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  width: 583px;
  margin: 36px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 202px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-icon-1 {
  height: 158px;
  width: 316px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: -15px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-icon-2 {
  height: 158px;
  width: 316px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: -15px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-icon-3 {
  height: 158px;
  width: 316px;
  margin: 0 auto;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: -15px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 266px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
    min-height: 315px;
  }

  .u-section-2 .u-text-2 {
    font-weight: normal;
  }

  .u-section-2 .u-text-3 {
    font-weight: normal;
  }

  .u-section-2 .u-text-4 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 204px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 153px;
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 96px;
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 609px;
}

.u-section-3 .u-group-1 {
  min-height: 549px;
  height: auto;
  margin: 0 0 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 29px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: 12px auto 0;
}

.u-section-3 .u-form-1 {
  height: 313px;
  width: 570px;
  margin: 9px auto 0;
}

.u-section-3 .u-btn-1 {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 100%;
  padding: 10px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-3 .u-text-2 {
    font-weight: normal;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-form-1 {
    width: 320px;
  }
}