.u-section-1 {
  background-image: linear-gradient(#333333, #666666);
}

.u-section-1 .u-sheet-1 {
  min-height: 776px;
}

.u-section-1 .u-group-1 {
  min-height: 493px;
  width: 800px;
  background-image: linear-gradient(#5f416b, #4f5e7f);
  margin: 175px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 200px;
  height: 200px;
  background-image: url("images/profile_4.jpg");
  background-position: 50% 50%;
  margin: 35px auto 0 53px;
}

.u-section-1 .u-text-1 {
  font-family: "Roboto Slab", serif;
  font-size: 4.5rem;
  text-decoration: none solid rgb(17, 17, 17);
  font-weight: normal;
  margin: -165px 59px 0 303px;
}

.u-section-1 .u-text-2 {
  font-family: "Roboto Slab", serif;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 2.25rem;
  margin: 12px 79px 0 323px;
}

.u-section-1 .u-line-1 {
  height: 8px;
  margin-top: 74px;
  margin-bottom: 0;
  transform-origin: right center 0px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 39px auto 0 140px;
  padding: 9px 23px 11px 21px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  margin: -44px auto 0 513px;
  padding: 9px 69px 11px 68px;
}

.u-section-1 .u-image-2 {
  width: 61px;
  height: 61px;
  margin: -53px auto 0 439px;
}

.u-section-1 .u-image-3 {
  width: 54px;
  height: 54px;
  margin: -54px auto 0 73px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 36px auto 0 140px;
  padding: 9px 35px 11px 34px;
}

.u-section-1 .u-image-4 {
  width: 58px;
  height: 58px;
  margin: -53px auto 0 73px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px auto 0 513px;
  padding: 9px 82px 11px 80px;
}

.u-section-1 .u-image-5 {
  width: 52px;
  height: 52px;
  margin: -55px auto 0 444px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-family: Roboto, sans-serif;
  }

  .u-section-1 .u-text-2 {
    font-family: Roboto, sans-serif;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 46px;
    margin-left: 145px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -46px;
    margin-left: 516px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -54px;
    margin-left: 432px;
  }

  .u-section-1 .u-image-3 {
    width: 55px;
    height: 55px;
    margin-top: -47px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 33px;
    margin-left: 149px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -50px;
    margin-left: 71px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 516px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 436px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-top: 60px;
    min-height: 461px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 28px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 19px;
    margin-left: 263px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 39px;
    margin-left: 283px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
    margin-left: 117px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -42px;
    margin-right: 46px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: -55px;
    margin-right: 271px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -55px;
    margin-right: 609px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 17px;
    margin-left: 117px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 609px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 462px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -52px;
    margin-left: 388px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 723px;
  }

  .u-section-1 .u-group-1 {
    min-height: 561px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 40px;
    margin-left: 36px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    font-weight: 700;
    width: auto;
    margin-top: -141px;
    margin-right: 4px;
    margin-left: 266px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 13px;
    margin-right: 32px;
    margin-left: 270px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 75px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 19px;
    margin-right: 99px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 89px;
    margin-right: 99px;
    padding: 10px 81px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -51px;
    margin-right: 358px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -190px;
    margin-right: 358px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 19px;
    margin-right: 99px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: -52px;
    margin-right: 358px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 82px;
    margin-right: 99px;
    margin-left: auto;
    padding: 10px 94px 10px 93px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -47px;
    margin-left: 125px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    min-height: 555px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 25px;
  }

  .u-section-1 .u-image-1 {
    width: 109px;
    height: 109px;
    margin-top: 1px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 254px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 222px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-1 {
    margin-top: 31px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 25px;
    margin-right: 0;
    margin-left: 86px;
  }

  .u-section-1 .u-btn-2 {
    border-style: none;
    margin-right: 15px;
    padding-right: 84px;
    padding-left: 83px;
  }

  .u-section-1 .u-image-2 {
    width: 52px;
    height: 53px;
    margin-top: -49px;
    margin-right: 271px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-3 {
    width: 50px;
    height: 50px;
    margin-top: -179px;
    margin-right: auto;
    margin-left: 17px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-left: 86px;
  }

  .u-section-1 .u-image-4 {
    width: 55px;
    height: 55px;
    margin-top: -49px;
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 86px;
    margin-right: 15px;
    padding-top: 9px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-5 {
    width: 50px;
    height: 50px;
    margin-top: -46px;
    margin-left: 17px;
  }
}