.u-section-1 {
  background-image: url("images/Tv_White_Noise_Close_Up_Crop.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 941px;
}

.u-section-1 .u-group-1 {
  min-height: 521px;
  width: 800px;
  background-image: none;
  height: auto;
  margin: 160px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 200px;
  height: 200px;
  background-image: url("images/Logo_White_On_Black.png");
  background-position: 50% 50%;
  margin: 47px auto 0 53px;
}

.u-section-1 .u-text-1 {
  font-family: "Roboto Slab", serif;
  font-size: 4.5rem;
  text-decoration: none solid rgb(17, 17, 17);
  font-weight: normal;
  margin: -166px 59px 0 303px;
}

.u-section-1 .u-text-2 {
  font-family: "Roboto Slab", serif;
  text-decoration: none solid rgb(17, 17, 17);
  font-size: 2.25rem;
  margin: 13px 79px 0 323px;
}

.u-section-1 .u-line-1 {
  height: 8px;
  margin-top: 74px;
  margin-bottom: 0;
  transform-origin: right center 0px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 38px auto 0 137px;
  padding: 9px 23px 11px 21px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  margin: -46px 62px 0 auto;
  padding: 10px 78px 10px 77px;
}

.u-section-1 .u-image-2 {
  width: 61px;
  height: 61px;
  margin: -53px auto 0 432px;
}

.u-section-1 .u-image-3 {
  width: 61px;
  height: 61px;
  margin: -61px auto 0 66px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 47px auto 0 137px;
  padding: 9px 35px 11px 34px;
}

.u-section-1 .u-image-4 {
  width: 61px;
  height: 61px;
  margin: -50px auto 0 66px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -56px 62px 0 auto;
  padding: 9px 15px 11px 13px;
}

.u-section-1 .u-image-5 {
  width: 61px;
  height: 61px;
  margin: -53px auto 0 432px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-family: Roboto, sans-serif;
  }

  .u-section-1 .u-text-2 {
    font-family: Roboto, sans-serif;
  }

  .u-section-1 .u-image-3 {
    margin-top: -60px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    min-height: 492px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 19px;
    margin-left: 263px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 39px;
    margin-left: 283px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 31px;
    margin-left: 109px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: auto;
    margin-left: 449px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 379px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -61px;
    margin-left: 39px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 30px;
    margin-left: 109px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -52px;
    margin-left: 39px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -54px;
    margin-right: auto;
    margin-left: 449px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -52px;
    margin-left: 379px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-1 .u-group-1 {
    min-height: 435px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 22px;
    margin-left: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    font-weight: 700;
    width: auto;
    margin-top: -139px;
    margin-right: 22px;
    margin-left: 253px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 12px;
    margin-right: 43px;
    margin-left: 264px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 24px;
    margin-left: 108px;
    padding: 10px 10px 10px 9px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.625rem;
    margin-top: -41px;
    margin-right: 18px;
    margin-left: auto;
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -50px;
    margin-left: 284px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.625rem;
    margin-top: 22px;
    margin-left: 108px;
    padding: 10px 20px 10px 18px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -50px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.625rem;
    margin-top: -50px;
    margin-right: 18px;
    margin-left: auto;
    padding: 10px 8px 10px 7px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -50px;
    margin-left: 284px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-1 .u-group-1 {
    min-height: 581px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 6px;
    padding-bottom: 3px;
  }

  .u-section-1 .u-image-1 {
    width: 133px;
    height: 133px;
    margin-top: 4px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: 254px;
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 222px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-1 {
    margin-top: 29px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-left: 131px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 94px;
    margin-right: auto;
    margin-left: 131px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -47px;
    margin-left: 50px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -198px;
    margin-left: 50px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 17px;
    margin-left: 131px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 50px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 87px;
    margin-right: auto;
    margin-left: 131px;
    padding-top: 9px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 50px;
  }
}